.s{
    padding: 250px 270px;
    color: rgb(224, 117, 98);
}
.detail{
    padding: 10px;
    
}
.launch_status{
    padding: 10px;
    font-size: 15px;
}
.launch_year{
    padding: 10px;
    font-size: 15px;
}
.Mission_Name{
    padding: 10px;
}
.detail{
    padding: 10px;
}
.image{
    padding: 10px;
}
img{
    padding: 10px;
}